.menu,
.news,
.list,
.footer,
.nav,
.logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 2rem;
    color          : #FBEAFF;
}


body {
    margin               : 0;
    font-size            : 2em;
    color                : #FBEAFF;
    text-align           : center;
    justify-content      : center;
    display              : grid;
    min-height           : 100vh;
    grid-template-columns: 100px 65fr 35fr;
    grid-template-rows: 100px 300px 150px;
    /* USE NEXT VALUES TO MAKE FOOTER TAKE ALL AVAILABLE HEIGHT */
    /* grid-template-rows: 100px 300px 1fr; */
}

.logo {
    background: #008F7A;
    grid-area: 1/1/2/2;
}

.menu {
    background: #845EC2;
    grid-area: 1/2/1/4;
}

.news {
    background: #2C73D2;
    grid-area: 2/1/3/2;

}

.list {
    background: #0081CF;
    grid-area: 2/2/3/3;
}

.nav {
    background: #008E9B;
    grid-area: 2/3/4/4;
}

.footer {
    background: #0089BA;
    grid-area: 3/1/4/3;
}